
# python_wrapper
Utilities/python_wrapper/spec.egg-info
dist
.eggs

*.o
*.mod
*_p.f90
*_m.F90
*~
xspec
dspec

# pdfs related
/docs/html/*
/docs/latex/*
*.pdf
*.dvi
*.toc
*.out
.*.date

# Eclipse IDE
.settings
.project
.cproject
.pydevproject

# output files from example runs
InputFiles/**/*.h5
InputFiles/**/*.sp.end
InputFiles/**/*.sp.DF
InputFiles/**/*.GF.ev
InputFiles/**/*.GF.ma
**/__pycache__

# files in ci
ci/

# vim temprary files
*.swo
*.swp

# python temp file
*.pyc

#jupyter
.ipynb_checkpoint

#cmake build
build/

#python build
_skbuild/

# Temp fortran files
src/mxspech.f90
src/msphdf5.f90

# Apple Mac related
.DS_Store

