
*.o
*.mod
*.F90
*~
xspec
dspec

# pdfs related
/docs/
*.pdf
*.dvi
*.toc
*.out
.*.date

# Eclipse IDE
.settings
.project
.cproject

# output files from example runs
InputFiles/**/*.h5
InputFiles/**/*.sp.end
