
*.o
*.mod
*_p.f90
*_m.F90
*~
xspec
dspec

# pdfs related
/docs/
*.pdf
*.dvi
*.toc
*.out
.*.date

# Eclipse IDE
.settings
.project
.cproject
.pydevproject

# output files from example runs
InputFiles/**/*.h5
InputFiles/**/*.sp.end
InputFiles/**/*.sp.DF

# vim temprary files
*.swo
*.swp
